.unitateak:hover {
    fill: #d50000;
}

.eskualde-mugak {
    fill: none;
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linejoin: round;
}

.kanpo-mugak {
    fill: none;
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linejoin: round;
}

#kontainerra {
    margin: 0 auto 0 auto;
    width: 680px;
    position: relative;
    height: 680px;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 16px;
}

#mapa {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid black;*/
}

.datuak-taula {
    left: 500px;
    position: absolute;
    top: 140px;
}
        
#emaitza-bai, #emaitza-ez {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    width: 75px;
}

#unitatea-izena {
    font-size: 20px;
    font-weight: bold;
    left: 20px;
    position: absolute;
    text-align: center;
    top: 15px;
    width: 210px;
}

#kredituak {
    color: #333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    left: 30px;
    position: absolute;
    top: 560px;
    width: 250px;
}

#mapa-argia-logoa {
    width: 130px;
}

a {
    color: #e50000;
    text-decoration: none;
}

.hasierako-mezua {
    left: 35px;
    margin-top: 10px;
    position: absolute;
    text-align: center;
    top: 0;
}
